# Git / IDE
.git
.gitmodules
.vscode
.idea

# 의존성 / 빌드 산출물
node_modules
build
dist
deploy

# 임시파일 / 캐시
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.swp
.DS_Store
tmp
.cache

# 환경 변수 등 민감 정보
.env
.env.*