services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: frontend
    working_dir: /app
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    command: ["npm","run","dev","--","--host","0.0.0.0","--port","5173"]
    environment:
      - NODE_ENV=development
      - BROWSER=none
      - PORT=5173
